flask
flask_cors
websockets
opencv-contrib-python
numpy
imutils
zmq
pybase64
psutil
luma.oled
adafruit-pca9685
rpi_ws281x
mpu6050-raspberrypi
picamera
picamera2
greenlet
thread
RPi.GPIO
zmq
mpu6050
Adafruit_PCA9685
luma